body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	.active {
		color: rgb(223, 212, 58);
	}


	.headerArea {
		display: flex;
		gap: .4rem;
		margin-top: 1rem;

		img {
			height: 1.5rem;
			border-radius: .2rem;
			margin-top: .3rem;
		}
	}
}